.gallery {
  background: rgba(255, 244, 238, 0.46);
}

.gallery .container {
  position: relative;
  padding: 50px 80px;
}

.gallery .container .images-wrapper-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.gallery .container .images-wrapper-1 .image {
  position: relative;
  padding-top: 20vw;
  display: block;
}

.gallery .container .images-wrapper-1 .image .look-wrapper {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(227, 253, 231, 0.43);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.gallery .container .images-wrapper-1 .image:hover .look-wrapper {
  opacity: 1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.gallery .container .images-wrapper-1 .image:nth-child(1) {
  width: 35%;
  margin-bottom: 2.3%;
}

.gallery .container .images-wrapper-1 .image:nth-child(2) {
  width: 25%;
  margin-bottom: 2.3%;
}

.gallery .container .images-wrapper-1 .image:nth-child(3) {
  width: 35%;
  margin-bottom: 2.3%;
}

.gallery .container .images-wrapper-1 .image:nth-child(4) {
  width: 26%;
}

.gallery .container .images-wrapper-1 .image:nth-child(5) {
  width: 26%;
}

.gallery .container .images-wrapper-1 .image:nth-child(6) {
  width: 43%;
}

.gallery .container .more-button-wrapper {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: 15px;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
  right: 80px;
}

.gallery .container .more-button-wrapper:hover .more-button {
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
  color: #3a001e;
}

.gallery .container .more-button-wrapper:hover svg path {
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
  fill: #3a001e;
}

.gallery .container .more-button-wrapper .more-button {
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */
  letter-spacing: 0.085em;
  text-transform: capitalize;
  color: #ff8066;
  margin-right: 5px;
}

.gallery .container .more-button-wrapper svg path {
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}

.gallery .container .more-button-wrapper .icon-wrapper {
  width: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 768px) {
  .gallery .container {
    position: relative;
    padding: 10px 5px 20px 5px;
  }
  .gallery .container .images-wrapper-1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .gallery .container .images-wrapper-1 .image {
    position: relative;
    display: block;
  }
  .gallery .container .images-wrapper-1 .image .look-wrapper {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(227, 253, 231, 0.43);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    cursor: pointer;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .gallery .container .images-wrapper-1 .image:hover .look-wrapper {
    opacity: 1;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .gallery .container .images-wrapper-1 .image:nth-child(1) {
    width: 35%;
    margin-bottom: 2.3%;
  }
  .gallery .container .images-wrapper-1 .image:nth-child(2) {
    width: 25%;
    margin-bottom: 2.3%;
  }
  .gallery .container .images-wrapper-1 .image:nth-child(3) {
    width: 35%;
    margin-bottom: 2.3%;
  }
  .gallery .container .images-wrapper-1 .image:nth-child(4) {
    width: 26%;
  }
  .gallery .container .images-wrapper-1 .image:nth-child(5) {
    width: 26%;
  }
  .gallery .container .images-wrapper-1 .image:nth-child(6) {
    width: 43%;
  }
  .gallery .container .more-button-wrapper {
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    bottom: 2px;
    -webkit-transition: 0.2s ease-out;
    transition: 0.2s ease-out;
    right: 5px;
  }
  .gallery .container .more-button-wrapper:hover .more-button {
    -webkit-transition: 0.2s ease-out;
    transition: 0.2s ease-out;
    color: #3a001e;
  }
  .gallery .container .more-button-wrapper:hover svg path {
    -webkit-transition: 0.2s ease-out;
    transition: 0.2s ease-out;
    fill: #3a001e;
  }
  .gallery .container .more-button-wrapper .more-button {
    -webkit-transition: 0.2s ease-out;
    transition: 0.2s ease-out;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 16px;
    /* identical to box height */
    letter-spacing: 0.085em;
    text-transform: capitalize;
    color: #ff8066;
    color: #ff8066;
    margin-right: 5px;
  }
  .gallery .container .more-button-wrapper svg path {
    -webkit-transition: 0.2s ease-out;
    transition: 0.2s ease-out;
  }
  .gallery .container .more-button-wrapper .icon-wrapper {
    width: 12px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.show-photo-wrapper {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(227, 253, 231, 0.7);
  z-index: 10000;
  padding: 40px;
}

.show-photo-wrapper .left {
  position: absolute;
  left: 20px;
  top: 45%;
  cursor: pointer;
}

.show-photo-wrapper .left svg {
  width: 30px;
}

.show-photo-wrapper .right {
  position: absolute;
  right: 20px;
  top: 45%;
  cursor: pointer;
}

.show-photo-wrapper .right svg {
  width: 30px;
}

.show-photo-wrapper .image {
  position: relative;
  padding-top: 700px;
  display: block;
  width: 90%;
}

.show-photo-wrapper .image img {
  border-radius: 8px;
}

.show-photo-wrapper .close {
  position: absolute;
  top: 30px;
  right: 30px;
  cursor: pointer;
}

.show-photo-wrapper .close svg {
  width: 30px;
}
/*# sourceMappingURL=gallery.css.map */