.home {
  position: relative;
}

.home .hero {
  height: 100vh;
  background: #fbeae9;
  position: relative;
}

.home .hero .hero-text-wrapper {
  position: absolute;
  top: 40%;
  left: 80px;
}

.home .hero .hero-text-wrapper .hero-title {
  font-weight: 600;
  font-size: clamp(14px, 3vw, 36px);
  margin: 0;
  padding: 0;
  /* identical to box height */
  text-transform: uppercase;
  color: #ff8066;
}

.home .hero .hero-text-wrapper .hero-subtitle {
  margin: 0;
  padding: 0;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  text-transform: capitalize;
  width: 30%;
  color: #ff8066;
}

.home .hero .hero-text-wrapper .hero-body {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.085em;
  text-transform: capitalize;
  width: 38%;
  color: rgba(58, 0, 30, 0.7);
}

.home .hero .dots-sliderButtons {
  position: absolute;
  bottom: 20px;
  right: 0;
  z-index: 1000;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home .hero .dots-sliderButtons .dots-wrapper {
  margin-right: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: end;
      align-self: end;
}

.home .hero .dots-sliderButtons .dots-wrapper .dot {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #ff8066;
  display: inline-block;
  margin: 0 5px;
  cursor: pointer;
}

.home .hero .dots-sliderButtons .dots-wrapper .dot.active {
  background: #fff;
}

.home .hero .dots-sliderButtons .buttons-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 80px;
}

.home .hero .dots-sliderButtons .buttons-wrapper .slider-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 8px;
  cursor: pointer;
}

.home .hero .dots-sliderButtons .buttons-wrapper .slider-button svg {
  width: 40px;
  height: 40px;
}

.home .hero .carousel {
  position: absolute;
  overflow: hidden;
  width: 69%;
  height: 100%;
  top: 0;
  right: 0;
  border-radius: 0 0 0 800px;
  z-index: 0;
}

.home .hero .carousel img {
  overflow: hidden;
}

.home .about-work {
  background: rgba(255, 244, 238, 0.46);
}

.home .about-work .container {
  padding: 0 80px;
}

.home .about-work .container .about-work-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 5fr 4fr;
      grid-template-columns: 5fr 4fr;
  padding: 20px 0;
  grid-gap: 15px;
}

.home .about-work .container .about-work-wrapper .image {
  position: relative;
  width: 100%;
  padding-top: 460px;
  display: block;
}

.home .about-work .container .about-work-wrapper .image img {
  border-radius: 3px;
}

.home .about-work .container .about-work-wrapper .text-wrapper {
  position: relative;
}

.home .about-work .container .about-work-wrapper .text-wrapper .about-work-title {
  font-weight: 600;
  font-size: 28px;
  margin: 0;
  padding: 0;
  /* identical to box height */
  text-transform: uppercase;
  color: #ff8066;
}

.home .about-work .container .about-work-wrapper .text-wrapper .about-work-subtitle {
  margin: 0;
  padding: 0;
  font-weight: 600;
  font-size: 20px;
  line-height: 36px;
  text-transform: capitalize;
  color: #ff8066;
}

.home .about-work .container .about-work-wrapper .text-wrapper .about-work-body {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.085em;
  text-transform: capitalize;
  color: rgba(58, 0, 30, 0.6);
}

.home .about-work .container .about-work-wrapper .more-button-wrapper {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: 3px;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
  right: 3px;
}

.home .about-work .container .about-work-wrapper .more-button-wrapper:hover .more-button {
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
  color: #3a001e;
}

.home .about-work .container .about-work-wrapper .more-button-wrapper:hover svg path {
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
  fill: #3a001e;
}

.home .about-work .container .about-work-wrapper .more-button-wrapper .more-button {
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */
  letter-spacing: 0.085em;
  text-transform: capitalize;
  color: #ff8066;
  margin-right: 5px;
}

.home .about-work .container .about-work-wrapper .more-button-wrapper svg path {
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}

.home .about-work .container .about-work-wrapper .more-button-wrapper .icon-wrapper {
  width: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.home .feature-work {
  background: rgba(227, 253, 231, 0.43);
}

.home .feature-work .container {
  padding: 0 80px;
}

.home .feature-work .container .feature-work-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 4fr 5fr;
      grid-template-columns: 4fr 5fr;
  padding: 20px 0;
  grid-gap: 15px;
}

.home .feature-work .container .feature-work-wrapper .image {
  position: relative;
  width: 100%;
  padding-top: 460px;
  display: block;
}

.home .feature-work .container .feature-work-wrapper .image img {
  border-radius: 3px;
}

.home .feature-work .container .feature-work-wrapper .text-wrapper {
  position: relative;
}

.home .feature-work .container .feature-work-wrapper .text-wrapper .feature-work-title {
  font-weight: 600;
  font-size: 28px;
  margin: 0;
  padding: 0;
  /* identical to box height */
  text-transform: uppercase;
  color: #ff8066;
}

.home .feature-work .container .feature-work-wrapper .text-wrapper .feature-work-subtitle {
  margin: 0;
  padding: 0;
  font-weight: 600;
  font-size: 20px;
  line-height: 36px;
  text-transform: capitalize;
  color: #ff8066;
}

.home .feature-work .container .feature-work-wrapper .text-wrapper .feature-work-body {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.085em;
  text-transform: capitalize;
  color: rgba(58, 0, 30, 0.6);
}

.home .feature-work .container .feature-work-wrapper .more-button-wrapper {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: 3px;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
  right: 3px;
}

.home .feature-work .container .feature-work-wrapper .more-button-wrapper:hover .more-button {
  -webkit-transition-delay: 2s;
          transition-delay: 2s;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
  color: #3a001e;
}

.home .feature-work .container .feature-work-wrapper .more-button-wrapper:hover svg path {
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
  fill: #3a001e;
}

.home .feature-work .container .feature-work-wrapper .more-button-wrapper .more-button {
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */
  letter-spacing: 0.085em;
  text-transform: capitalize;
  color: #ff8066;
  margin-right: 5px;
}

.home .feature-work .container .feature-work-wrapper .more-button-wrapper svg path {
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}

.home .feature-work .container .feature-work-wrapper .more-button-wrapper .icon-wrapper {
  width: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 768px) {
  .home .hero {
    height: 255px;
    background: #fbeae9;
    position: relative;
  }
  .home .hero .hero-text-wrapper {
    position: absolute;
    top: 30%;
    left: 5px;
  }
  .home .hero .hero-text-wrapper .hero-title {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    line-height: 21px;
    /* identical to box height */
    text-transform: uppercase;
    color: #ff8066;
  }
  .home .hero .hero-text-wrapper .hero-subtitle {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 10px;
    /* or 83% */
    text-transform: capitalize;
    color: #ff8066;
    width: 50%;
  }
  .home .hero .hero-text-wrapper .hero-body {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 111%;
    /* or 11px */
    letter-spacing: 0.01em;
    text-transform: capitalize;
    color: rgba(58, 0, 30, 0.7);
    width: 50%;
  }
  .home .hero .dots-sliderButtons {
    position: absolute;
    bottom: 5px;
    right: 0;
    z-index: 1000;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .home .hero .dots-sliderButtons .dots-wrapper {
    margin-right: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: end;
        align-self: end;
  }
  .home .hero .dots-sliderButtons .dots-wrapper .dot {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: #ff8066;
    display: inline-block;
    margin: 0 2px;
    cursor: pointer;
  }
  .home .hero .dots-sliderButtons .dots-wrapper .dot.active {
    background: #fff;
  }
  .home .hero .dots-sliderButtons .buttons-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 5px;
  }
  .home .hero .dots-sliderButtons .buttons-wrapper .slider-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 4px;
    cursor: pointer;
  }
  .home .hero .dots-sliderButtons .buttons-wrapper .slider-button svg {
    width: 19px;
    height: 19px;
  }
  .home .hero .carousel {
    position: absolute;
    overflow: hidden;
    width: 50%;
    height: 100%;
    top: 0;
    right: 0;
    border-radius: 0 0 0 800px;
    z-index: 0;
  }
  .home .hero .carousel img {
    overflow: hidden;
  }
  .home .about-work {
    background: rgba(255, 244, 238, 0.46);
  }
  .home .about-work .container {
    padding: 0 5px;
  }
  .home .about-work .container .about-work-wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-gap: 15px;
    padding: 8px 0;
  }
  .home .about-work .container .about-work-wrapper .image {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    position: relative;
    width: 100%;
    padding-top: 50vw;
    display: block;
  }
  .home .about-work .container .about-work-wrapper .image img {
    border-radius: 3px;
  }
  .home .about-work .container .about-work-wrapper .text-wrapper {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    position: relative;
  }
  .home .about-work .container .about-work-wrapper .text-wrapper .about-work-title {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 19px;
    /* identical to box height */
    text-transform: uppercase;
    margin: 0;
    color: #ff8066;
  }
  .home .about-work .container .about-work-wrapper .text-wrapper .about-work-subtitle {
    margin: 0;
    padding: 0;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 20px;
    /* identical to box height */
    text-transform: capitalize;
    color: #ff8066;
  }
  .home .about-work .container .about-work-wrapper .text-wrapper .about-work-body {
    margin: 0;
    padding: 0;
    padding-bottom: 5px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    letter-spacing: 0.085em;
    text-transform: capitalize;
    color: rgba(58, 0, 30, 0.7);
  }
  .home .about-work .container .about-work-wrapper .more-button-wrapper {
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    bottom: -10px;
    -webkit-transition: 0.2s ease-out;
    transition: 0.2s ease-out;
    right: 3px;
  }
  .home .about-work .container .about-work-wrapper .more-button-wrapper:hover .more-button {
    -webkit-transition: 0.2s ease-out;
    transition: 0.2s ease-out;
    color: #3a001e;
  }
  .home .about-work .container .about-work-wrapper .more-button-wrapper:hover svg path {
    -webkit-transition: 0.2s ease-out;
    transition: 0.2s ease-out;
    fill: #3a001e;
  }
  .home .about-work .container .about-work-wrapper .more-button-wrapper .more-button {
    -webkit-transition: 0.2s ease-out;
    transition: 0.2s ease-out;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 16px;
    /* identical to box height */
    letter-spacing: 0.085em;
    text-transform: capitalize;
    color: #ff8066;
    color: #ff8066;
    margin-right: 5px;
  }
  .home .about-work .container .about-work-wrapper .more-button-wrapper svg path {
    -webkit-transition: 0.2s ease-out;
    transition: 0.2s ease-out;
  }
  .home .about-work .container .about-work-wrapper .more-button-wrapper .icon-wrapper {
    width: 12px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .home .feature-work {
    background: rgba(227, 253, 231, 0.43);
  }
  .home .feature-work .container {
    padding: 0 5px;
  }
  .home .feature-work .container .feature-work-wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-gap: 15px;
    padding: 8px 0;
  }
  .home .feature-work .container .feature-work-wrapper .image {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    position: relative;
    width: 100%;
    padding-top: 50vw;
    display: block;
  }
  .home .feature-work .container .feature-work-wrapper .image img {
    border-radius: 3px;
  }
  .home .feature-work .container .feature-work-wrapper .text-wrapper {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    position: relative;
  }
  .home .feature-work .container .feature-work-wrapper .text-wrapper .feature-work-title {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 19px;
    /* identical to box height */
    text-transform: uppercase;
    margin: 0;
    color: #ff8066;
  }
  .home .feature-work .container .feature-work-wrapper .text-wrapper .feature-work-subtitle {
    margin: 0;
    padding: 0;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 20px;
    /* identical to box height */
    text-transform: capitalize;
    color: #ff8066;
  }
  .home .feature-work .container .feature-work-wrapper .text-wrapper .feature-work-body {
    margin: 0;
    padding: 0;
    padding-bottom: 5px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    letter-spacing: 0.085em;
    text-transform: capitalize;
    color: rgba(58, 0, 30, 0.7);
  }
  .home .feature-work .container .feature-work-wrapper .more-button-wrapper {
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    bottom: -10px;
    -webkit-transition: 0.2s ease-out;
    transition: 0.2s ease-out;
    right: 3px;
  }
  .home .feature-work .container .feature-work-wrapper .more-button-wrapper:hover .more-button {
    -webkit-transition: 0.2s ease-out;
    transition: 0.2s ease-out;
    color: #3a001e;
  }
  .home .feature-work .container .feature-work-wrapper .more-button-wrapper:hover svg path {
    -webkit-transition: 0.2s ease-out;
    transition: 0.2s ease-out;
    fill: #3a001e;
  }
  .home .feature-work .container .feature-work-wrapper .more-button-wrapper .more-button {
    -webkit-transition: 0.2s ease-out;
    transition: 0.2s ease-out;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 16px;
    /* identical to box height */
    letter-spacing: 0.085em;
    text-transform: capitalize;
    color: #ff8066;
    color: #ff8066;
    margin-right: 5px;
  }
  .home .feature-work .container .feature-work-wrapper .more-button-wrapper svg path {
    -webkit-transition: 0.2s ease-out;
    transition: 0.2s ease-out;
  }
  .home .feature-work .container .feature-work-wrapper .more-button-wrapper .icon-wrapper {
    width: 12px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
/*# sourceMappingURL=home.css.map */