$primary-color: #ff8066;

.home {
  position: relative;
  .hero {
    height: 100vh;
    background: #fbeae9;
    position: relative;
    .hero-text-wrapper {
      position: absolute;
      top: 40%;
      left: 80px;
      .hero-title {
        font-weight: 600;
        font-size: clamp(14px, 3vw, 36px);
        margin: 0;
        padding: 0;
        /* identical to box height */

        text-transform: uppercase;
        color: #ff8066;
      }
      .hero-subtitle {
        margin: 0;
        padding: 0;
        font-weight: 600;
        font-size: 24px;
        line-height: 36px;
        text-transform: capitalize;
        width: 30%;

        color: #ff8066;
      }
      .hero-body {
        font-weight: 600;
        font-size: 18px;
        line-height: 30px;
        letter-spacing: 0.085em;
        text-transform: capitalize;
        width: 38%;

        color: rgba(58, 0, 30, 0.7);
      }
    }
    .dots-sliderButtons {
      position: absolute;
      bottom: 20px;
      right: 0;
      z-index: 5;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .dots-wrapper {
        margin-right: 80px;
        display: flex;
        align-self: end;
        .dot {
          width: 15px;
          height: 15px;
          border-radius: 50%;
          background: $primary-color;
          display: inline-block;
          margin: 0 5px;
          cursor: pointer;
          &.active {
            background: #fff;
          }
        }
      }
      .buttons-wrapper {
        display: flex;
        margin-left: 80px;
        .slider-button {
          display: flex;
          margin-right: 8px;
          cursor: pointer;
          svg {
            width: 40px;
            height: 40px;
          }
        }
      }
      // position: absolute;
      // top: 50%;
      // z-index: 50;
    }
    .carousel {
      position: absolute;
      overflow: hidden;
      width: 69%;
      height: 100%;
      top: 0;
      right: 0;
      border-radius: 0 0 0 800px;
      z-index: 0;
      img {
        overflow: hidden;
      }
    }
  }
  .about-work {
    background: rgba(255, 244, 238, 0.46);
    .container {
      padding: 0 80px;
      .about-work-wrapper {
        display: grid;
        grid-template-columns: 5fr 4fr;
        padding: 20px 0;
        grid-gap: 15px;
        .image {
          position: relative;
          width: 100%;
          padding-top: 460px;
          display: block;
          img {
            border-radius: 3px;
          }
        }
        .text-wrapper {
          position: relative;
          .about-work-title {
            font-weight: 600;
            font-size: 28px;
            margin: 0;
            padding: 0;
            /* identical to box height */

            text-transform: uppercase;
            color: #ff8066;
          }
          .about-work-subtitle {
            margin: 0;
            padding: 0;
            font-weight: 600;
            font-size: 20px;
            line-height: 36px;
            text-transform: capitalize;

            color: #ff8066;
          }
          .about-work-body {
            font-weight: 500;
            font-size: 16px;
            line-height: 22px;
            letter-spacing: 0.085em;
            text-transform: capitalize;

            color: rgba(58, 0, 30, 0.6);
          }
        }
        .more-button-wrapper {
          cursor: pointer;
          display: flex;
          justify-content: flex-end;
          align-items: center;
          position: absolute;
          bottom: 3px;
          transition: 0.2s ease-out;
          right: 3px;
          &:hover {
            // transition: 0.2s ease-out;
            // transform: scale(1.1);
            .more-button {
              transition: 0.2s ease-out;
              color: #3a001e;
            }
            svg {
              path {
                transition: 0.2s ease-out;
                fill: #3a001e;
              }
            }
          }
          .more-button {
            transition: 0.2s ease-out;
            font-family: Poppins;
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 22px;
            /* identical to box height */

            letter-spacing: 0.085em;
            text-transform: capitalize;

            color: #ff8066;
            margin-right: 5px;
          }
          svg {
            path {
              transition: 0.2s ease-out;
            }
          }
          .icon-wrapper {
            width: 18px;
            display: flex;
            // path {
            //   stroke-width: 1px;
            //   stroke: $primary-color;
            // }
          }
        }
      }
    }
  }
  .feature-work {
    background: rgba(227, 253, 231, 0.43);
    .container {
      padding: 0 80px;
      .feature-work-wrapper {
        display: grid;
        grid-template-columns: 4fr 5fr;
        padding: 20px 0;
        grid-gap: 15px;
        .image {
          position: relative;
          width: 100%;
          padding-top: 460px;
          display: block;
          img {
            border-radius: 3px;
          }
        }
        .text-wrapper {
          position: relative;
          .feature-work-title {
            font-weight: 600;
            font-size: 28px;
            margin: 0;
            padding: 0;
            /* identical to box height */

            text-transform: uppercase;
            color: #ff8066;
          }
          .feature-work-subtitle {
            margin: 0;
            padding: 0;
            font-weight: 600;
            font-size: 20px;
            line-height: 36px;
            text-transform: capitalize;

            color: #ff8066;
          }
          .feature-work-body {
            font-weight: 500;
            font-size: 16px;
            line-height: 22px;
            letter-spacing: 0.085em;
            text-transform: capitalize;

            color: rgba(58, 0, 30, 0.6);
          }
        }
        .more-button-wrapper {
          cursor: pointer;
          display: flex;
          justify-content: flex-end;
          align-items: center;
          position: absolute;
          bottom: 3px;
          transition: 0.2s ease-out;
          right: 3px;
          &:hover {
            // transition: 0.2s ease-out;
            // transform: scale(1.1);
            .more-button {
              transition-delay: 2s;
              transition: 0.2s ease-out;
              color: #3a001e;
            }
            svg {
              path {
                transition: 0.2s ease-out;
                fill: #3a001e;
              }
            }
          }
          .more-button {
            transition: 0.2s ease-out;
            font-family: Poppins;
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 22px;
            /* identical to box height */

            letter-spacing: 0.085em;
            text-transform: capitalize;

            color: #ff8066;
            margin-right: 5px;
          }
          svg {
            path {
              transition: 0.2s ease-out;
            }
          }
          .icon-wrapper {
            width: 18px;
            display: flex;
            // path {
            //   stroke-width: 1px;
            //   stroke: $primary-color;
            // }
          }
        }
      }
    }
  }
  @media (max-width: 768px) {
    .hero {
      height: 255px;
      background: #fbeae9;
      position: relative;
      .hero-text-wrapper {
        position: absolute;
        top: 30%;
        left: 5px;
        .hero-title {
          font-family: Poppins;
          font-style: normal;
          font-weight: 600;
          // font-size: 14px;
          line-height: 21px;
          /* identical to box height */

          text-transform: uppercase;

          color: #ff8066;
        }
        .hero-subtitle {
          font-family: Poppins;
          font-style: normal;
          font-weight: 600;
          font-size: 12px;
          line-height: 15px;
          /* or 83% */
          text-transform: capitalize;

          color: #ff8066;
          width: 50%;
        }
        .hero-body {
          font-family: Poppins;
          font-style: normal;
          font-weight: normal;
          font-size: 10px;
          line-height: 111%;
          /* or 11px */

          letter-spacing: 0.01em;
          text-transform: capitalize;

          color: rgba(58, 0, 30, 0.7);
          width: 50%;
        }
      }
      .dots-sliderButtons {
        position: absolute;
        bottom: 5px;
        right: 0;
        z-index: 5;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .dots-wrapper {
          margin-right: 5px;
          display: flex;
          align-self: end;
          .dot {
            width: 5px;
            height: 5px;
            border-radius: 50%;
            background: $primary-color;
            display: inline-block;
            margin: 0 2px;
            cursor: pointer;
            &.active {
              background: #fff;
            }
          }
        }
        .buttons-wrapper {
          display: flex;
          margin-left: 5px;
          .slider-button {
            display: flex;
            margin-right: 4px;
            cursor: pointer;
            svg {
              width: 25px;
              height: 25px;
            }
          }
        }
        // position: absolute;
        // top: 50%;
        // z-index: 50;
      }
      .carousel {
        position: absolute;
        overflow: hidden;
        width: 50%;
        height: 100%;
        top: 0;
        right: 0;
        border-radius: 0 0 0 800px;
        z-index: 0;
        img {
          overflow: hidden;
        }
      }
    }
    .about-work {
      background: rgba(255, 244, 238, 0.46);
      .container {
        padding: 0 5px;
        .about-work-wrapper {
          display: grid;
          grid-template-columns: 1fr;
          grid-gap: 15px;
          padding: 8px 0;
          .image {
            order: 2;
            position: relative;
            width: 100%;
            padding-top: 50vw;
            display: block;
            img {
              border-radius: 3px;
            }
          }
          .text-wrapper {
            order: 1;
            position: relative;
            .about-work-title {
              font-family: Poppins;
              font-style: normal;
              font-weight: 600;
              font-size: 18px;
              line-height: 20px;
              /* identical to box height */

              text-transform: uppercase;
              margin: 0;

              color: #ff8066;
            }
            .about-work-subtitle {
              margin: 0;
              padding: 0;
              font-family: Poppins;
              font-style: normal;
              font-weight: 600;
              font-size: 14px;
              line-height: 25px;
              /* identical to box height */

              text-transform: capitalize;

              color: #ff8066;
            }
            .about-work-body {
              margin: 0;
              padding: 0;
              padding-bottom: 20px;
              padding-top: 5px;
              font-family: Poppins;
              font-style: normal;
              font-size: 12px;
              line-height: 15px;
              letter-spacing: 0.085em;

              text-transform: capitalize;

              color: rgba(58, 0, 30, 0.7);
            }
          }
          .more-button-wrapper {
            cursor: pointer;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            position: absolute;
            bottom: -5px;
            transition: 0.2s ease-out;
            right: 3px;
            &:hover {
              // transition: 0.2s ease-out;
              // transform: scale(1.1);
              .more-button {
                transition: 0.2s ease-out;
                color: #3a001e;
              }
              svg {
                path {
                  transition: 0.2s ease-out;
                  fill: #3a001e;
                }
              }
            }
            .more-button {
              transition: 0.2s ease-out;
              font-family: Poppins;
              font-style: normal;
              font-weight: 600;
              font-size: 11px;
              line-height: 16px;
              /* identical to box height */

              letter-spacing: 0.085em;
              text-transform: capitalize;

              color: #ff8066;

              color: #ff8066;
              margin-right: 5px;
            }
            svg {
              path {
                transition: 0.2s ease-out;
              }
            }
            .icon-wrapper {
              width: 12px;
              display: flex;
              // path {
              //   stroke-width: 1px;
              //   stroke: $primary-color;
              // }
            }
          }
        }
      }
    }
    .feature-work {
      background: rgba(227, 253, 231, 0.43);
      .container {
        padding: 0 5px;
        .feature-work-wrapper {
          display: grid;
          grid-template-columns: 1fr;
          grid-gap: 15px;
          padding: 8px 0;
          .image {
            order: 2;
            position: relative;
            width: 100%;
            padding-top: 50vw;
            display: block;
            img {
              border-radius: 3px;
            }
          }
          .text-wrapper {
            order: 1;
            position: relative;
            .feature-work-title {
              font-family: Poppins;
              font-style: normal;
              font-weight: 600;
              font-size: 18px;
              line-height: 20px;
              /* identical to box height */

              text-transform: uppercase;
              margin: 0;

              color: #ff8066;
            }
            .feature-work-subtitle {
              margin: 0;
              padding: 0;
              font-family: Poppins;
              font-style: normal;
              font-weight: 600;
              font-size: 14px;
              line-height: 25px;
              /* identical to box height */

              text-transform: capitalize;

              color: #ff8066;
            }
            .feature-work-body {
              margin: 0;
              padding: 0;
              padding-bottom: 20px;
              padding-top: 5px;
              font-family: Poppins;
              font-style: normal;
              font-size: 12px;
              line-height: 15px;
              letter-spacing: 0.085em;

              text-transform: capitalize;

              color: rgba(58, 0, 30, 0.7);
            }
          }
          .more-button-wrapper {
            cursor: pointer;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            position: absolute;
            bottom: -5px;
            transition: 0.2s ease-out;
            right: 3px;
            &:hover {
              // transition: 0.2s ease-out;
              // transform: scale(1.1);
              .more-button {
                transition: 0.2s ease-out;
                color: #3a001e;
              }
              svg {
                path {
                  transition: 0.2s ease-out;
                  fill: #3a001e;
                }
              }
            }
            .more-button {
              transition: 0.2s ease-out;
              font-family: Poppins;
              font-style: normal;
              font-weight: 600;
              font-size: 11px;
              line-height: 16px;
              /* identical to box height */

              letter-spacing: 0.085em;
              text-transform: capitalize;

              color: #ff8066;

              color: #ff8066;
              margin-right: 5px;
            }
            svg {
              path {
                transition: 0.2s ease-out;
              }
            }
            .icon-wrapper {
              width: 12px;
              display: flex;
              // path {
              //   stroke-width: 1px;
              //   stroke: $primary-color;
              // }
            }
          }
        }
      }
    }
  }
}
