$primary-color: #ff8066;

.about {
  min-height: 100vh;

  .part:nth-child(even) {
    background: rgba(227, 253, 231, 0.43);
    padding: 0 80px;
    .container {
      padding: 40px 0;
      display: grid;
      grid-template-columns: 5fr 7fr;
      grid-gap: 15px;
      .text-part {
        order: 2;
        margin-top: 40px;
        .title {
          font-family: Poppins;
          font-style: normal;
          font-weight: 600;
          font-size: 36px;
          line-height: 8px;
          /* identical to box height */

          text-transform: uppercase;
          color: $primary-color;
          margin: 0;
          padding: 0;
        }
        .subtitle {
          font-family: Poppins;
          font-style: normal;
          font-weight: 600;
          font-size: 24px;
          line-height: 30px;
          text-transform: capitalize;

          color: #ff8066;
        }
        .body {
          font-family: Poppins;
          font-style: normal;
          font-weight: 500;
          font-size: 18px;
          line-height: 27px;
          letter-spacing: 0.085em;
          text-transform: capitalize;

          color: rgba(58, 0, 30, 0.7);
        }
      }
      .image-part {
        order: 1;
        display: flex;
      }
    }
  }
  .part:nth-child(odd) {
    background: #fbeae9;
    padding: 0 80px;
    .container {
      padding: 40px 0;
      display: grid;
      grid-template-columns: 7fr 5fr;
      grid-gap: 15px;
      .text-part {
        margin-top: 40px;
        .title {
          font-family: Poppins;
          font-style: normal;
          font-weight: 600;
          font-size: 36px;
          line-height: 8px;
          /* identical to box height */

          text-transform: uppercase;
          color: $primary-color;
          margin: 0;
          padding: 0;
        }
        .subtitle {
          font-family: Poppins;
          font-style: normal;
          font-weight: 600;
          font-size: 24px;
          line-height: 30px;
          text-transform: capitalize;

          color: #ff8066;
        }
        .body {
          font-family: Poppins;
          font-style: normal;
          font-weight: 500;
          font-size: 18px;
          line-height: 27px;
          letter-spacing: 0.085em;
          text-transform: capitalize;

          color: rgba(58, 0, 30, 0.7);
        }
      }
      .image-part {
        display: flex;
      }
    }
  }
  .part:first-child {
    min-height: 100vh;
    background: #fbeae9;
    padding: 0 80px;
    .container {
      padding: 80px 0;
      display: grid;
      grid-template-columns: 7fr 5fr;
      grid-gap: 15px;
      .text-part {
        margin-top: 120px;
        .title {
          font-family: Poppins;
          font-style: normal;
          font-weight: 600;
          font-size: 36px;
          line-height: 8px;
          /* identical to box height */

          text-transform: uppercase;
          color: $primary-color;
          margin: 0;
          padding: 0;
        }
        .subtitle {
          font-family: Poppins;
          font-style: normal;
          font-weight: 600;
          font-size: 24px;
          line-height: 30px;
          text-transform: capitalize;

          color: #ff8066;
        }
        .body {
          font-family: Poppins;
          font-style: normal;
          font-weight: 500;
          font-size: 18px;
          line-height: 27px;
          letter-spacing: 0.085em;
          text-transform: capitalize;

          color: rgba(58, 0, 30, 0.7);
        }
      }
      .image-part {
        display: flex;
      }
    }
  }
  @media (max-width: 768px) {
    min-height: auto;

    .part:nth-child(even) {
      background: rgba(227, 253, 231, 0.43);
      padding: 0 5px;
      .container {
        padding: 10px 0;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 15px;
        .text-part {
          order: 1;
          margin-top: 15px;
          .title {
            font-family: Poppins;
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 8px;
            /* identical to box height */

            text-transform: uppercase;
            color: $primary-color;
            margin: 0;
            padding: 0;
            text-align: center;
          }
          .subtitle {
            font-family: Poppins;
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 18px;
            text-transform: capitalize;

            color: #ff8066;
          }
          .body {
            font-family: Poppins;
            font-style: normal;
            font-size: 12px;
            line-height: 15px;
            letter-spacing: 0.085em;

            text-transform: capitalize;

            color: rgba(58, 0, 30, 0.7);
            margin: 0;
            padding: 0;
          }
        }
        .image-part {
          order: 2;
          display: flex;
        }
      }
    }
    .part:nth-child(odd) {
      background: #fbeae9;
      padding: 0 5px;
      .container {
        padding: 10px 0;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 15px;
        .text-part {
          order: 1;
          margin-top: 15px;
          .title {
            font-family: Poppins;
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 8px;
            /* identical to box height */

            text-transform: uppercase;
            color: $primary-color;
            margin: 0;
            padding: 0;
            text-align: center;
          }
          .subtitle {
            font-family: Poppins;
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 18px;
            text-transform: capitalize;

            color: #ff8066;
          }
          .body {
            font-family: Poppins;
            font-style: normal;
            font-size: 12px;
            line-height: 15px;
            letter-spacing: 0.085em;

            text-transform: capitalize;

            color: rgba(58, 0, 30, 0.7);
            margin: 0;
            padding: 0;
          }
        }
        .image-part {
          order: 2;
          display: flex;
        }
      }
    }
    .part:first-child {
      min-height: auto;
      background: #fbeae9;
      padding: 0 5px 10px 5px;
      .container {
        padding: 0px 0;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 15px;
        .text-part {
          margin-top: 80px;
          .title {
            font-family: Poppins;
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 8px;
            /* identical to box height */

            text-transform: uppercase;
            color: $primary-color;
            margin: 0;
            padding: 0;
            text-align: center;
          }
          .subtitle {
            font-family: Poppins;
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 18px;
            text-transform: capitalize;

            color: #ff8066;
          }
          .body {
            font-family: Poppins;
            font-style: normal;
            font-size: 12px;
            line-height: 15px;
            letter-spacing: 0.085em;

            text-transform: capitalize;

            color: rgba(58, 0, 30, 0.7);
            margin: 0;
            padding: 0;
          }
        }
        .image-part {
          display: flex;
        }
      }
    }
  }
}
