.loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  .loader-body {
    width: 200px;
    border-bottom: 5px solid;
    border-color: #ec6c54;
    .loader {
      width: 40px;
      height: 40px;
      margin: auto;
      border-radius: 50%;
      background: radial-gradient(44.23% 44.23% at 50% 50%, #ec6c54 29.17%, #0096ff 100%);
    }
  }
}
