@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");
@import "./pageComponentStyle/navbar.scss";
@import "./pageComponentStyle/home.scss";
@import "./pageComponentStyle/footer.scss";

body {
  font-family: Poppins;
  margin: 0;
  padding: 0;
}
